# VyOS1
set interfaces ethernet eth1 address 10.0.0.1/24
set interfaces ethernet eth0 address 192.168.1.112/24
set vpn ipsec ipsec-interfaces interface eth1
set vpn ipsec site-to-site peer 10.0.0.2
set vpn ipsec ike-group IKE-PROP proposal 1 encryption aes256gcm128
set vpn ipsec ike-group IKE-PROP proposal 1 hash sha256
set vpn ipsec ike-group IKE-PROP lifetime 28800
set vpn ipsec esp-group ESP-PROP proposal 1 encryption aes256gcm128
set vpn ipsec esp-group ESP-PROP proposal 1 hash sha256
set vpn ipsec esp-group ESP-PROP lifetime 3600
set vpn ipsec site-to-site peer 10.0.0.2 authentication mode pre-shared-secret
set vpn ipsec site-to-site peer 10.0.0.2 authentication pre-shared-secret <shared_secret>
set vpn ipsec site-to-site peer 10.0.0.2 ike-group IKE-PROP
set vpn ipsec site-to-site peer 10.0.0.2 local-address 10.0.0.1
set vpn ipsec site-to-site peer 10.0.0.2 tunnel 1 esp-group ESP-PROP
set vpn ipsec site-to-site peer 10.0.0.2 tunnel 1 local prefix 192.168.1.0/24
set vpn ipsec site-to-site peer 10.0.0.2 tunnel 1 remote prefix 192.168.2.0/24

# VyOS2
set interfaces ethernet eth0 address 10.0.0.2/24
set interfaces ethernet eth1 address 192.168.2.112/24
set vpn ipsec ipsec-interfaces interface eth0
set vpn ipsec site-to-site peer 10.0.0.1
set vpn ipsec ike-group IKE-PROP proposal 1 encryption aes256gcm128
set vpn ipsec ike-group IKE-PROP proposal 1 hash sha256
set vpn ipsec ike-group IKE-PROP lifetime 28800
set vpn ipsec esp-group ESP-PROP proposal 1 encryption aes256gcm128
set vpn ipsec esp-group ESP-PROP proposal 1 hash sha256
set vpn ipsec esp-group ESP-PROP lifetime 3600
set vpn ipsec site-to-site peer 10.0.0.1 authentication mode pre-shared-secret
set vpn ipsec site-to-site peer 10.0.0.1 authentication pre-shared-secret <shared_secret>
set vpn ipsec site-to-site peer 10.0.0.1 ike-group IKE-PROP
set vpn ipsec site-to-site peer 10.0.0.1 local-address 10.0.0.2
set vpn ipsec site-to-site peer 10.0.0.1 tunnel 1 esp-group ESP-PROP
set vpn ipsec site-to-site peer 10.0.0.1 tunnel 1 local prefix 192.168.2.0/24
set vpn ipsec site-to-site peer 10.0.0.1 tunnel 1 remote prefix 192.168.1.0/24
